<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 
  <appSettings>
    <add key="Licensing_Con" value="Data Source=prod;Initial Catalog=ALBOP;Integrated Security=false;User Id=product1;password=cbt$123;Connection Timeout=0"/>
    <add key="Online" value="Data Source=prod;Initial Catalog=Pharmacy_Online;Integrated Security=false;User Id=product1;password=cbt$123;Connection Timeout=0"/>
    <add key="pdfcreatehostname" value="https://preprod.igovsolution.net/albopilems/"/>
    <add key="pdfretrivehostname" value="https://preprod.igovsolution.net/albopilems/"/>
    <add key="Defaultemail" value="albop@igovsolution.net"/>
    <add key="Fromemail" value="albop@igovsolution.net"/>
    <add key="cmpclose1" value="pwright@albop.com;ebraden@albop.com;rcoker@albop.com"/>
    <add key="welness" value="pwright@albop.com;ebraden@albop.com;datkisson@wardcooperlaw.com;RCoker@albop.com"/>
    <add key="cmpclose" value="rcoker@albop.com;ebraden@albop.com"/>
    <add key="cmpcreated1" value="pwright@albop.com;ebraden@albop.com;rcoker@albop.com"/>
    <add key="cmpcreated" value="rcoker@albop.com;ebraden@albop.com;pwright@albop.com"/>
    <add key="bccmail" value="satish@igovsolution.com"/>
    <add key="onlinetechnicianrenewal" value="https://preprod.igovsolution.net/alboponline/Renewal/Renewal_Print.aspx"/>
    <add key="onlinecomplaintslink" value="https://preprod.igovsolution.net/alboponline/online_complaints/onlinecomplaintsprint.aspx"/>
    <add key="lmsdoclink" value="https://preprod.igovsolution.net/docs/albopdocuments/"/>
    <add key="docpath" value="G:\\DOCS\\albopdocuments\\"/>
    <add key="hideinvestigation" value="15"/>
    <add key="showonlycases" value="15"/>
    <add key="Helpdesktoemail" value="albop@igovsolution.net"/>
    <add key="HelpdeskCC" value="gokul@igovsolution.com;RCoker@albop.com;DYeatman@albop.com"/>
    <add key="HelpdeskBCC" value="nagendhar@igovsolution.com"/>
    <add key="lmslink" value="https://preprod.igovsolution.net/albopilems/"/>
    <add key="onlinelink" value="https://preprod.igovsolution.net/alboponline/"/>
    <add key="renewallink" value="https://preprod.igovsolution.net/alboprenewal/"/>
    <add key="issendmail" value="0"/>
    <add key="onlinePharmacistprint" value="https://albop.igovsolution.net/renewal/initial/initialprint.aspx"></add>
    <!--<add key="PaymentHost" value="https://test-api.i3verticals.com/v2/"/>
    <add key="PaymentUser" value="1Q9cu5xIHyxflZGs7q29aSH3NT79KYBd"/>
    <add key="PaymentKEY" value="Ks8wNGTeAvjAfgea"/>
    <add key="PaymentAccount" value="pa_05cc85858e59d802b847d0302Ryl0WTuZPc7VxlaAlXKRm"/>
    <add key="PaymentMerchent" value="mt_05cc85858e59d802b847d02fd"/>-->
    <add key="PaymentHost" value="https://api.i3verticals.com/v2/"/>
    <add key="PaymentUser" value="D3KiyoZPTqthLkFAuGjg36tJeiZtv75A"/>
    <add key="PaymentKEY" value="XwYEXwCJFHYHjCAQ"/>
    <add key="PaymentAccount" value="pa_05e8ced54ebcdc42a54b11930c9zP7kDvljByYeD8GqB9m"/>
    <add key="PaymentMerchent" value="mt_05e8ced539cefd132b0f357e1"/>
     
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpRuntime maxRequestLength="1048576" executionTimeout="60000" enableVersionHeader="false"/>
    <sessionState timeout="36000"/>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <httpHandlers/>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Login.aspx"/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
    <httpErrors>
      <remove statusCode="403" subStatusCode="4"/>
      <error statusCode="403" subStatusCode="4" path="https://albop.igovsolution.net/ilems/" responseMode="Redirect"/>
    </httpErrors>
    <httpRedirect destination="https://igovsolution.com"/>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="X-Frame-Options" value="*"/>
        <add name="Strict-Transport-Security" value="max-age=31536000"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".webarchive" mimeType="text/html"/>
      <mimeMap fileExtension=".msg" mimeType="application/vnd.ms-outlook"/>
    </staticContent>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="in-v3.mailjet.com" port="25" userName="30dbe2847c01499e66572187d3456913" password="e44d10d73f321f3d8c24209c1f4cd0cf"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--<system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Licensing.Grid_Services.gridAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Licensing.WCFGrid.GridServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Licensing.Reports.ReportAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Licensing.Grid_Services.grid">
        <endpoint address="" behaviorConfiguration="Licensing.Grid_Services.gridAspNetAjaxBehavior" binding="webHttpBinding" contract="Licensing.Grid_Services.grid" />
      </service>
      <service name="Licensing.WCFGrid.GridService">
        <endpoint address="" behaviorConfiguration="Licensing.WCFGrid.GridServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Licensing.WCFGrid.GridService" />
      </service>
      <service name="Licensing.Reports.Report">
        <endpoint address="" behaviorConfiguration="Licensing.Reports.ReportAspNetAjaxBehavior" binding="webHttpBinding" contract="Licensing.Reports.Report" />
      </service>
    </services>
  </system.serviceModel>-->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <webHttpBinding>
        <binding name="TransportSecurity">
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndPBehavior">
          <webHttp/>
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Licensing.WCFGrid.GridService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="EndPBehavior" bindingConfiguration="TransportSecurity" contract="Licensing.WCFGrid.GridService"/>
      </service>
      <service name="Licensing.Reports.Report" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="EndPBehavior" bindingConfiguration="TransportSecurity" contract="Licensing.Reports.Report"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>