<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="Licensing_Con" value="Data Source=sqlclus01dc5.i3vmgmt.us;Initial Catalog=ALBOP;Integrated Security=True;Connection Timeout=0" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="Online" value="Data Source=sqlclus01dc5.i3vmgmt.us;Initial Catalog=Pharmacy_Online;Integrated Security=True;Connection Timeout=0" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="pdfcreatehostname" value="https://albop.igovsolution.net/ilems/" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="pdfretrivehostname" value="https://albop.igovsolution.net/ilems/" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="Defaultemail" value="albop@igovsolution.net" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="Fromemail" value="albop@igovsolution.net" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="cmpclose1" value="pwright@albop.com;ebraden@albop.com;rcoker@albop.com" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="welness" value="pwright@albop.com;ebraden@albop.com;datkisson@wardcooperlaw.com;RCoker@albop.com" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="cmpclose" value="rcoker@albop.com;ebraden@albop.com" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="cmpcreated1" value="pwright@albop.com;ebraden@albop.com;rcoker@albop.com" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="cmpcreated" value="rcoker@albop.com;ebraden@albop.com;pwright@albop.com" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="bccmail" value="satish@igovsolution.com" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="onlinetechnicianrenewal" value="https://albop.igovsolution.net/online/Renewal/Renewal_Print.aspx" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="onlinecomplaintslink" value="https://albop.igovsolution.net/online/online_complaints/onlinecomplaintsprint.aspx" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="lmsdoclink" value="https://albop.igovsolution.net/docs/albopdocuments/" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="docpath" value="\\fileclus01dc5.i3vmgmt.us\datashare\albop\ALBOP_DOCS\albopdocuments\" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="hideinvestigation" value="15" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="showonlycases" value="15" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="Helpdesktoemail" value="albop@igovsolution.net" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="HelpdeskCC" value="gokul@igovsolution.com;RCoker@albop.com;DYeatman@albop.com" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="HelpdeskBCC" value="nagendhar@igovsolution.com" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="lmslink" value="https://albop.igovsolution.net/ilems/" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="onlinelink" value="https://albop.igovsolution.net/online/" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="renewallink" value="https://albop.igovsolution.net/renewal/" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="issendmail" value="1" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
    <add key="onlinePharmacistprint" value="https://albop.igovsolution.net/renewal/initial/initialprint.aspx" xdt:Transform="Replace"  xdt:Locator="Match(key)"></add>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" xdt:Transform="Replace"  xdt:Locator="Match(name)"/>
        <add name="X-Frame-Options" value="ALLOW-FROM https://albop.igovsolution.net/" xdt:Transform="Replace"  xdt:Locator="Match(name)"/>
        <add name="Strict-Transport-Security" value="max-age=31536000" xdt:Transform="Replace"  xdt:Locator="Match(name)"/>
        <add name="Access-Control-Allow-Origin" value="*" xdt:Transform="Replace"  xdt:Locator="Match(name)"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type" xdt:Transform="Replace"  xdt:Locator="Match(name)"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>