<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OperationsLink.Properties.Settings.Licensing_DBConnectionString"
            connectionString="Data Source=Localhost;Initial Catalog=Licensing_DB;Integrated Security=false;User Id=Koushik1;password=abc_123"
            providerName="System.Data.SqlClient" />
        <add name="OperationsLink.Properties.Settings.Licensing_DBConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=Licensing_DB;User ID=Koushik1;Password=abc_123"
            providerName="System.Data.SqlClient" />
        <add name="OperationsLink.Properties.Settings.Licensing_DBConnectionString2"
            connectionString="Data Source=.;Initial Catalog=Licensing_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OperationsLink.Properties.Settings.Licensing_DBNewConnectionString"
            connectionString="Data Source=.;Initial Catalog=Licensing_DBNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OperationsLink.Properties.Settings.ALBOPConnectionString"
            connectionString="Data Source=CBTSERVER\CBTSQL;Initial Catalog=ALBOP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OperationsLink.Properties.Settings.ALBOPConnectionString1"
            connectionString="Data Source=IGOVSOLU;Initial Catalog=ALBOP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OperationsLink.Properties.Settings.ALBOPConnectionString2"
            connectionString="Data Source=IGOVSOLU;Initial Catalog=ALBOP;Integrated Security=False;User ID=product1;Password=cbt$123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="Licensing_Con" value="Data Source=Localhost;Initial Catalog=Licensing_DB;Integrated Security=false;User Id=Koushik1;password=abc_123" />
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
