<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="Accounting_Data.Properties.Settings.Licensing_DBConnectionString"
            connectionString="Data Source=.;Initial Catalog=Licensing_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
       
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
