<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComplaintsLink.Properties.Settings.Licensing_DBConnectionString"
            connectionString="Data Source=CBTPR5-PC\CBTSQL8;Initial Catalog=Licensing_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsLink.Properties.Settings.LMS_DBConnectionString"
            connectionString="Data Source=CBTPR5-PC\CBTSQL8;Initial Catalog=LMS_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsLink.Properties.Settings.Licensing_DBConnectionString1"
            connectionString="Data Source=CBTPR5-PC\CBTSQL8;Initial Catalog=Licensing_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsLink.Properties.Settings.Licensing_DBConnectionString2"
            connectionString="Data Source=CBTPR5-PC\CBTSQL8;Initial Catalog=Licensing_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsLink.Properties.Settings.ALBOPConnectionString"
            connectionString="Data Source=CBTSERVER\CBTSQL;Initial Catalog=ALBOP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsLink.Properties.Settings.ALBOP_MigConnectionString"
            connectionString="Data Source=.;Initial Catalog=ALBOP_Mig;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsLink.Properties.Settings.ALBOP__NewConnectionString"
            connectionString="Data Source=CBTSERVER\CBTSQL;Initial Catalog=ALBOP__New;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsLink.Properties.Settings.Albop_NewConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Albop_New;User ID=Koushik1;Password=abc_123"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsLink.Properties.Settings.ALBOPConnectionString1"
            connectionString="Data Source=IGOVSOLU;Initial Catalog=ALBOP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsLink.Properties.Settings.ALBOPConnectionString2"
            connectionString="Data Source=IGOVSOLU;Initial Catalog=ALBOP;Integrated Security=False;User ID=product1;Password=cbt$123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
