<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComplaintsTabLinq.Properties.Settings.Licensing_DBConnectionString"
            connectionString="Data Source=Localhost;Initial Catalog=Licensing_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsTabLinq.Properties.Settings.Licensing_DBConnectionString1"
            connectionString="Data Source=.;Initial Catalog=Licensing_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsTabLinq.Properties.Settings.Licensing_DBConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=Licensing_DB;User ID=Koushik1;Password=abc_123"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsTabLinq.Properties.Settings.Licensing_DBNewConnectionString"
            connectionString="Data Source=.;Initial Catalog=Licensing_DBNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsTabLinq.Properties.Settings.ALBOPConnectionString"
            connectionString="Data Source=CBTSERVER\CBTSQL;Initial Catalog=ALBOP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsTabLinq.Properties.Settings.Albop_NewConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Albop_New;User ID=Koushik1;Password=abc_123"
            providerName="System.Data.SqlClient" />
        <add name="ComplaintsTabLinq.Properties.Settings.ALBOPConnectionString1"
            connectionString="Data Source=IGOVSOLU;Initial Catalog=ALBOP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
