<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Person_Details.Properties.Settings.Licensing_DBConnectionString"
            connectionString="Data Source=.;Initial Catalog=Licensing_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.Licensing_DBConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=Licensing_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.Licensing_DBConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=Licensing_DB;User ID=Koushik1;Password=abc_123"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.Licensing_DBNewConnectionString"
            connectionString="Data Source=.;Initial Catalog=Licensing_DBNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.Licensing_DB_May6ConnectionString"
            connectionString="Data Source=.;Initial Catalog=Licensing_DB_May6;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.Licensing_DBConnectionString3"
            connectionString="Data Source=localhost;Initial Catalog=Licensing_DB;Persist Security Info=True;User ID=Koushik1;Password=abc_123"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.ALBOPConnectionString"
            connectionString="Data Source=CBTSERVER\CBTSQL;Initial Catalog=ALBOP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.ALBOP_MigConnectionString"
            connectionString="Data Source=.;Initial Catalog=ALBOP_Mig;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.ALBOPConnectionString1"
            connectionString="Data Source=192.168.0.157\cbtsql;Initial Catalog=ALBOP;User ID=product;Password=cbt$123"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.ALBOP__NewConnectionString"
            connectionString="Data Source=CBTSERVER\CBTSQL;Initial Catalog=ALBOP__New;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.ALBOPConnectionString2"
            connectionString="Data Source=.;Initial Catalog=ALBOP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.Albop_NewConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Albop_New;User ID=Koushik1;Password=abc_123"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.ALBOPConnectionString3"
            connectionString="Data Source=IGOVSOLU;Initial Catalog=ALBOP;Integrated Security=False;User ID=product1;Password=cbt$123"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.ALBOPConnectionString4"
            connectionString="Data Source=IGOVSOLU;Initial Catalog=ALBOP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Person_Details.Properties.Settings.ALBOPConnectionString5"
            connectionString="Data Source=SATISH\SQL2014;Initial Catalog=ALBOP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>